@import '../styles/styles.module.scss';

.container {
    height: 100vh;
    display: flex;
    background-color: $shadow-base;
};

.content {
    display: flex;
    flex-direction: column;
}

.pageTitle {
    color: $starlight-base;
    font-size: $font-size-subtitle;
    font-weight: $font-weight-strongest;
    margin: $portal-margin-standard 0;
    text-align: center;

    @include breakpoint($md-min) {
        font-size: $font-size-title;
        text-align: start;
    }
}

.pageSubtitle {
    color: $starlight-base;
    font-size: $font-size-subtitle;
    font-weight: $font-weight-strong;
    margin: $portal-margin-standard 0;
    text-align: center;

    @include breakpoint($md-min) {
        text-align: start;
    }
}

.subtitle {
    text-align: center;

    @include breakpoint($md-min) {
        text-align: start;
    }
}

.stripe {
    display: flex;
    background-color: $shadow-dark;
}

.profileCard {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint($md-min) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.profileCardInfo {
    margin: $portal-double-unit;

    @include breakpoint($md-min) {
        margin: $portal-margin-standard;
    }

    @include breakpoint($xl-min) {
        margin: $portal-margin-large;
    }
}

.profileCardPrimary {
    display: flex;
    background-color: $starlight-dark;

    @include breakpoint($md-min) {
        width: 40%;
    }
}

.profileCardImage {
    width: 60%;
    border-radius: $portal-double-unit;
    overflow: hidden;

    @include breakpoint($sd-min) {
        width: 40%;
    }
    
    @include breakpoint($md-min) {
        width: 100%;
    }
}

.profileCardSecondary {
    background-color: $starlight-base;
    color: $shadow-dark;

    @include breakpoint($md-min) {
        width: 100%;
    }
}