@import '../styles/styles.module.scss';

.container {
    height: 100vh;
    display: flex;
    background-color: $shadow-base;
};

.content {
    display: flex;
}

.profileCard {
    display: flex;
    flex-direction: column;

    @include breakpoint($md-min) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.profileCardInfo {
    margin: $portal-unit;

    @include breakpoint($md-min) {
        margin: $portal-double-unit;
    }
}

.profileCardPrimary {
    width: 40%;
    border-top-left-radius: $portal-unit;
    border-bottom-left-radius: $portal-unit;
}

.profileCardSecondary {
    width: 100%;
    background-color: red;
    border-top-right-radius: $portal-unit;
    border-bottom-right-radius: $portal-unit;
}