@import './styles.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.l-container {
  width: 100%;

  @include breakpoint($sd-min) {
    margin: 0 50px;
    background-color: red;
  }

  @include breakpoint($md-min) {
    margin: 0 100px;
    background-color: blue;
  }

  @include breakpoint($lg-min) {
    margin: 0 200px;
    background-color: pink;
  }

  @include breakpoint($xl-min) {
    margin: 0 400px;
    background-color: violet;
  }
}
