@import '../../styles/styles.module.scss';

.container {
    padding: $portal-unit $portal-double-unit;
    color: $starlight-base;
    font-size: $font-size-title;
    font-weight: $font-weight-strongest;
    box-shadow: $box-glow-standard;
    border: 1px solid $starlight-base;
    user-select: none;
    transition-duration: 0.05s;
}

.container:hover {
    color: $starlight-light;
    border: 2px solid $starlight-light;
}